<?xml version="1.0" ?>
<robot name="usf_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find usf_robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find usf_robot_description)/urdf/usf_robot.trans" />
<xacro:include filename="$(find usf_robot_description)/urdf/usf_robot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.0008907457535358327 0.0003689835885053162 0.158152268500206" rpy="0 0 0"/>
    <mass value="11.54238338578783"/>
    <inertia ixx="0.218693" iyy="0.216301" izz="0.028089" ixy="-6.6e-05" iyz="0.000111" ixz="-0.001049"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find usf_robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find usf_robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
